@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primaryColor: #833471;
  --mainGrey: #f9f9fa;
  --mainWhite: #fff;
  --mainBlack: #0a0a0a;
  --darkGrey: #d980fa;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  background: var(--mainGrey);
  color: var(--mainBlack);
}

footer {
  color: #fff;
  /* position: absolute; */
  text-align: center;
  /* bottom: 0; */
  width: 100%;
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  color: var(--mainBlack);
}
